nearly-white = #eee
nearly-grey = #888
nearly-black = #223

plain-text-0 = #6cf
background-0 = #011

container-background-0 = alpha(nearly-white, 0.1)
container-background-0-fade = alpha(nearly-white, 0.05)
container-background-0-fade-0 = alpha(nearly-white, 0.02)
container-edge-0 = alpha(nearly-white, 0.5)

sidebar-mask-0 = alpha(#000, 0.5)
sidebar-background-0 = alpha(nearly-white, 0.2)

container-splitter = alpha(plain-text-0, 0.3)

sidebar-edge-active-0 = alpha(nearly-white, 0.8)
sidebar-font-active-0 = #000;

sidebar-edge-0 = alpha(nearly-white, 0.2)
sidebar-edge-1 = alpha(nearly-white, 0.25)
sidebar-font-0 = alpha(plain-text-0, 0.9)

sidebar-splitter = alpha(nearly-black, 0.7)
sidebar-splitter-active = alpha(nearly-grey, 0.7)

table-splitter = alpha(sidebar-splitter, 0.6)
