nearly-white = #eee
nearly-grey = #888
nearly-black = #223

//o = 0px; // shadow-spread
//p = 1px; // shadow-radius
//
//shadow-0 = o o p nearly-black,
//  o -(o) p nearly-black,
//  -(o) o p nearly-black,
//  -(o) -(o) p nearly-black

plain-text-0 = #beffdc
plain-text-0-weak = rgba(desaturate(plain-text-0, 40%), 0.9)
plain-text-0-hints = rgba(desaturate(plain-text-0, 60%), 0.6)
background-0 = #011
plain-text-1 = background-0
align-line-0 = alpha(plain-text-0-weak, 0.5);
underline-0 = dotted 1px align-line-0;
invalid = nearly-grey

equip-tech-low-0 = nearly-grey;
equip-tech-ok-0 = #8aff62;

link-text-0 = lighten(plain-text-0, 10%)
link-text-0-hover = lighten(plain-text-0, 50%)

container-background-0 = alpha(nearly-white, 0.1)
container-background-0-fade = alpha(nearly-white, 0.05)
container-background-0-fade-0 = alpha(nearly-white, 0.02)
container-edge-0 = alpha(nearly-white, 0.5)

container-background-1 = alpha(nearly-white, 0.3)
container-background-2 = alpha(nearly-white, 0.7)

context-menu-0 = alpha(nearly-black, 0.7)
context-menu-0-active = lighten(context-menu-0, 50%)

container-splitter = alpha(plain-text-0, 0.3)

sidebar-mask-0 = alpha(nearly-black, 0.7)
sidebar-background-0 = alpha(nearly-white, 0.2)
sidebar-edge-active-0 = alpha(nearly-white, 0.8)
sidebar-font-active-0 = #000;
sidebar-font-0 = alpha(plain-text-0, 0.9)

sidebar-edge-0 = alpha(nearly-white, 0.2)
sidebar-edge-1 = alpha(nearly-white, 0.25)

sidebar-invalid = alpha(plain-text-0, 0.7);

sidebar-splitter = alpha(nearly-black, 0.7)
sidebar-splitter-active = alpha(nearly-grey, 0.7)

button-0 = plain-text-0
button-0-disabled = nearly-grey
button-background-0 = alpha(nearly-white, 0.2)

slot-point = rgba(204, 204, 204, 0.15);
inherited-point = rgba(173, 255, 164, 0.5);
bonus-point = rgba(150, 204, 240, 0.8);

scrollbar = alpha(nearly-grey, 0.5);

dialog-border-0 = plain-text-0;
dialog-background-0 = alpha(plain-text-0, 0.1);
